.content-region {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .region {
    display: flex;
  }
  h2 {
    padding-top: 20px;
  }
  button{
    margin-right: 10px;
  }

}
.content-country {
  overflow-y: scroll;
}

.table {
  width: 60%;
}
tbody {
  width: 100%;
}

.small-flag {
  width: 50px;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
}

.tr {
  all: unset;
  border-radius: 4px;
  border: 1px solid #c2c3c4;
  background-color: #e6ebf1;
  width: 100%;
  padding-top: 5px;
  margin-top: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    fill: rgb(105, 103, 103);
  }
}
td {
  padding-left: 10px;
}

ul {
  max-width: 500px;
  width: 90%;
  margin-top: 100px;
}

@media (max-width: 920px) {
  .table {
    width: 100%;
  }
}
