:host {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 5px solid #887d9fa6;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10%;
}

.logo img {
  width: 80%;
}
